<hr>
<div class="landing-wrapper">
  <div class="description-wrapper">
    <div class="description-image">
      <img src="../../../assets/images/avatar_damian_keller.png" alt="avatar">
    </div>
    <div class="description-info">
      <div class="description-info-header">
        <h1><b>{{'Damian Keller' | uppercase}}</b></h1>
        <h2>Freelance Web Designer</h2>
      </div>
      <div class="description-info-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam aspernatur assumenda dolorem dolores, eius
          enim esse exercitationem facere id incidunt inventore ipsa ipsam ipsum iste itaque minus modi, perferendis
          quaerat quam quibusdam quis reiciendis rem repellat sapiente ullam vel voluptates? Enim facilis natus porro
          repudiandae veritatis! Cum debitis quam veritatis.</p>
      </div>
      <div class="description-info-footer">
        <ul>
          <li>
            <p class="description-info-footer-head"><b>{{'October 17, 1996' | uppercase}}</b></p>
            <p>{{'birth' | uppercase}}</p>
          </li>
          <li>
            <p class="description-info-footer-head"><b>{{'United Kingdom' | uppercase }}</b></p>
            <p>NATIONALITY</p>
          </li>
          <li>
            <p class="description-info-footer-head"><b>{{'English'| uppercase}}</b>({{'native' | uppercase}}),
              <b>{{'french' | uppercase}}</b>({{'intermediate' | uppercase}})</p>
            <p>LANGUAGE</p>
          </li>
        </ul>
      </div>
      <div class="description-info-icons">
        <ul>
          <li>
            <a href="https://fb.com/">
              <img src="./assets/images/fb-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="https://twitter.com/">
              <img src="./assets/images/twitter-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="https://messanger.com/">
              <img src="./assets/images/ms-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="https://instagram.com">
              <img src="./assets/images/inst-icon.png" alt="">
            </a>
          </li>
          <li>
            <a href="https://web.org">
              <img src="./assets/images/web-icon.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="details-wrapper">
    <!--   1fr   -->
    <div class="details-wrapper-column1">
      <!--    1fr    -->
      <div class="details-wrapper-row">
        <p><b>{{'my activity' | uppercase}}</b></p>
      </div>
      <!--    1fr    -->
      <div class="details-wrapper-row">
        <p><b>{{'work history' | uppercase}}</b></p>
      </div>
      <!--     2fr   -->
      <div class="details-wrapper-row">
        <p><b>{{'my specialities' | uppercase}}</b></p>
      </div>
    </div>
    <!--   1fr   -->
    <div class="details-wrapper-column2">
      <!--    1fr    -->
      <div class="details-wrapper-box">
        <div class="details-wrapper-row">
          <h4>100%</h4>
          <p>{{'jobs success' | uppercase}}</p>
        </div>
        <div>
          <h4>96%</h4>
          <p>{{'on budget' | uppercase}}</p>
        </div>
      </div>
      <!--    1fr    -->
      <div class="details-wrapper-box">
        <div class="details-wrapper-row">
          <h4>15096</h4>
          <p>{{'hours worked' | uppercase}}</p>
        </div>
        <div>
          <h4>687</h4>
          <p>{{'work done' | uppercase}}</p>
        </div>
      </div>
      <!--    2fr    -->
      <div class="details-wrapper-specialities">
        <div class="details-wrapper-row">
          <h4>{{'wordpress theme development' | uppercase}}</h4>
          <p>Synergistically strategize customer derected resources rather than principle.</p>
        </div>
        <div>
          <h4>{{'drupal template development' | uppercase}}</h4>
          <p>Interactively myocardinate high standarts in initiatives rather than next-generation.</p>
        </div>
      </div>
    </div>
    <!--   1fr   -->
    <div class="details-wrapper-column3">
      <!--    1fr    -->
      <div class="details-wrapper-box">
        <div class="details-wrapper-row">
          <h4>99%</h4>
          <p>{{'on time' | uppercase}}</p>
        </div>
        <div>
          <h4>89%</h4>
          <p>{{'repeat hire rate' | uppercase}}</p>
        </div>
      </div>
      <!--    1fr    -->
      <div class="details-wrapper-box">
        <div class="details-wrapper-row">
          <h4>30</h4>
          <p>{{'hours weekly available' | uppercase}}</p>
        </div>
        <div>
          <h4>24</h4>
          <p>{{'hour response time' | uppercase}}</p>
        </div>
      </div>
      <!--    2fr    -->
      <div class="details-wrapper-specialities">
        <div class="details-wrapper-row">
          <h4>{{'joomla template development' | uppercase}}</h4>
          <p>Quickly repurpose reliable customer service with orthogonal ideas. Competently.</p>
        </div>
        <div>
          <h4>{{'shopify theme design' | uppercase}}</h4>
          <p>Dynamically initiate client-based convergence vis-a-vis performance based.</p>
        </div>
      </div>
    </div>
  </div>
</div>
